@model Legend

@{
    ViewData["Title"] = "Legend detail";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="card">
        <div class="d-flex flex-column card-body">
            <h5 class="card-title">@Model.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Category</h6>
            <p class="card-text">@Model.Bio</p>
            @Html.ActionLink("Delete", "Delete", new {id = Model.Id}, new {@class = "btn btn-sm btn-outline-danger w-100"})
        </div>
    </div>
</div>